<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blogtech</title>

        <%- include("./partials/static_includes.ejs") %>
    </head>

    <body>
        <!-- Header -->
        <%- include("./partials/header.ejs", {page:"All"}) %>
        
        <!-- Main Content -->

        <div class="container border-bottom mb-3">
            <h2 class="font-domine mt-5">All Posts</h2>
        </div>

        <main class="container font-domine">
            <% if(locals.posts){
                let postCopy = JSON.parse(JSON.stringify(locals.posts));
            %>

                <% while(postCopy.length >= 2) { 
                    let post1 = postCopy.pop();
                    let post2 = postCopy.pop();
                    %>
                    <%- include("./partials/med_posts_2.ejs", {post1:post1, post2:post2}) %>
                <% } %>
                <% while(postCopy.length >= 1) {
                    let post1 = postCopy.pop();%>
                    <%- include("./partials/med_posts_1.ejs", {post1:post1}) %>
                <% } %>

            <% } else { %>
                <h1>Error! No Posts Found!!!</h1>
            <% } %>
        </main>

        <!-- Create a Post Link -->
        <%- include("./partials/create_post.ejs") %>
        
        <!-- Footer -->
        <%- include("./partials/footer.ejs") %>
    </body>
</html>